:root {
    --text-base: #AAA;
    --text-light: #DDD;
    --red: #FF0000;
    --bg: #333;
}

html, body {
    height: 100%;
    margin: 0;
    background: var(--bg);
}

.page-parent {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title-row, .data-display {
    width: 100%;
    display: flex;
}

.title-row {
    border-bottom: 1px solid gray;
    padding: 10px;
    box-sizing: border-box;
}

.data-display {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yesterday, .tomorrow {
    flex: 1;
}

.today {
    flex: 3;
}

.title-row {
    width: 100%;
    display: flex;
    color: var(--text-base);
}

.data-display > div > div {
    display: flex;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.data-display .yesterday {
    color: var(--text-base);
    font-size: 50px;
    border-right: 3px solid var(--text-base);
}

.data-display .today {
    color: var(--text-light);
    font-size: 100px;
}

.data-display .tomorrow {
    color: var(--text-base);
    font-size: 50px;
    border-left: 3px solid var(--text-base);
}

.navigation {
    padding: 10px;
    cursor: pointer;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

.navigation:hover {
    background-color: #555555;
}

.caret {
    border-left: 3px solid var(--text-base);
    border-top: 3px solid var(--text-base);
    height: 50px;
    width: 50px;
    margin: 10px 0 10px 10px;
    border-radius: 5px 0 0 0;
}

.left-caret {
    transform: rotate(-45deg);
}

.right-caret {
    transform: rotate(135deg);
}

@media (max-width: 1500px) {
    .title-row {
        color: #555;
        font-size: 48px;
    }

    .yesterday, .tomorrow {
        display: none;
    }

    .data-display .today {
        font-size: 140px;
    }

    .caret {
        border-color: black;
        border-width: 10px;
    }
}