.data-display {
    width: 100%;
    display: flex;
    color: #CCC;
    font-family: Arial, sans-serif;
    text-align: center;
}

.data-display > div {
    flex: 1;
}

.data-display .yesterday-wrap {
    color: #AAA;
    font-size: 50px;
}

.data-display .today-wrap {
    color: #555;
    font-size: 100px;
}

.data-display .tomorrow-wrap {
    color: #AAA;
    font-size: 50px;

}